@import 'bootstrap/bootstrap.scss';

body {
    background: linear-gradient(0deg,rgba(255, 255, 255, 1),rgba(255, 255, 255, 0)),url(../img/bg-image.jpg) center center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
}

.cz-useraccount-form {
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;

    form {
        label {
            color: $white;

            &:hover {
                font-weight: bold;
            }
        }
    }

    .cz-useraccount-input {
        background: transparent;
        border: 2px solid $white;
        color: $white;

        &::placeholder {
            color: $white;
        }

        &:focus {
            border: 3px solid $info;
        }
    }

    .cz-register-form {
        transition: 0.5s;
        transition-delay: .3s;
    }

    .cz-register-form {
        display: none;
    }
}