@import 'bootstrap/bootstrap.scss';
@import 'custom/menu-bar.scss';
@import 'custom/sidebar.scss';
@import 'custom/main-logo.scss';
@import 'custom/main-view.scss';
@import 'custom/dashboard.scss';
@import 'custom/flashcards.scss';
@import 'custom/useraccount-forms.scss';
@import 'custom/datacontent.scss';
@import 'custom/modal.scss';
@import 'custom/pagination.scss';
@import 'custom/hangman.scss';
@import 'custom/flashcards-test.scss';
@import 'custom/categories.scss';
@import 'custom/travel.scss';
@import "custom/circlechart.scss";

body {
    background: $gray-200;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;

    @include media-breakpoint-down(lg) {
        font-size: 90%;
    }
}


.cz-edit-form {
    padding: 10px;
    label {
        margin: 10px 0;
        font-style: italic;
    }

    .btn {
        margin: 10px;
    }
}

.edit-icon {

    &:hover {
        color: $gray-100;
    }
}

.no-margin {
    margin: 0 -15px;
}

.logo-mobile {
    position: absolute;
    left: 0;
    top: -20px;

    @include media-breakpoint-up(lg) {
        display: none;
    }
}