
.cz-categories {
    background: $gray-100;
    padding: 20px 10px;
    margin-top: 20px;

    @media only screen and (min-width: 768px) {
        padding: 20px 30px;
    }
    

    &__list {
        opacity: 0;
        max-height: 0px;
        transition-duration: .2s;

        &.active {
            opacity: 1;
            max-height: 100%;
            z-index: 9999;
        }
    }


    &__form {
        margin-bottom: 30px;
    }

    &__item {
        padding: 10px;
        display: inline-block;
        margin-right: 10px;
        box-shadow: 1px 2px 5px 1px $gray-500;
        margin: 10px 6px 10px 0;
        border-radius: 15px;
        transition-duration: .2s;
        position: relative;

        .edit-icon {
            position: absolute;
            right: 10px;
        }

        label {
            margin: 0;
        }

        &:hover {
            background: $custom;
            color: $white;

            i {
                color: $white;
            }
        }

        @include media-breakpoint-down(sm) {
            padding: 8px;
            border-bottom: none;
            display: inline-block;
            margin-right: 6px;
        }
    }

    &__container-list {
        
        &--scroll {
            max-height: 400px;
            overflow: scroll;
            font-size: $font-size-sm;
        }
    }

    &__phrasespage {

        .cz-categories__item {
            display: flex!important;
        }
    }

}
#selectCategories2 {
    cursor: pointer;
    margin-right: 10px;
    display: inline-block;

    @media only screen and (max-width: 767px) {
        margin-top: 20px;
    }

    &:hover {
        i {
            color: $custom;
        }
    }
}