.cz-datacontent {
    z-index: 8000;
    position: relative;
    background: $gray-100;
    padding: 20px 0;
    margin-top: 20px;

    .cz-datacontent-table {
        padding: 0 30px;

        &__content {
            max-height: 570px;
            overflow: scroll;
            margin: 0 -15px;
            background: $gray-100;
        }

        .cz-datacontent-word {
            transition-duration: 0.1s;
            position: relative;
            padding: 10px;
            cursor: pointer;
            border-bottom: 1px solid $gray-400;
            color: $gray-800;

            p {
                margin-bottom: 0;

                @include media-breakpoint-down(sm) {
                    font-size: 12px;
                }
            }

            &:hover {
                background: $secondary;
                color: $white;

                i {
                    color: $white;
                }
            }

            &__level {
                float: right;

                @include media-breakpoint-down(lg) {
                    display: none;
                }
            }
        }

        .cz-datacontent-definition {
            opacity: 0;
            position: absolute;
            left: 200px;
            background: $white;
            border: 1px solid $gray-600;
            color: $custom;
            max-width: 300px;
            z-index: -1;
            top: 0;
            padding: 9px;
            transition-duration: 0.2s;
            transition-delay: 0.1s;
            transform: translateX(10%);

            @include media-breakpoint-down(sm) {
                left: 30px;
                max-width: 240px;
            }
        }
    }

    .cz-datacontent-search-word {
        justify-content: right;

        input {
            flex: 0;
            width: 300px;
        }
    }
}
.hideWord {
    display: none
}