
.cz-flashcards {
    background: $gray-100;
    padding: 20px 0;
    margin-top: 20px;

    &__card {
        background: rgba(255,255,255,0.5);
        padding: 50px 0;
        margin-top: 30px;
    }
    
    .cz-flashcards-to-translate {
        width: 50%;
        position: relative;
        justify-content: center;
        padding: 40px;
        margin: auto;
        font-size: 30px;
        color: $white;

        &--word {
            background: $secondary;
            display: block;
        }

        &--translation {
            background: $info;
            display: none;
        }

    }
}