.cz-flashcards-to-translate {
    &.empty {
        opacity: 0;
        transition-duration: .5s;
        transition-delay: .3s;
        position: relative;
        top: -30%;
    }

    &.active {
        opacity: 1;
        top: 0;
    }
}

.cz-flashcards {
    
    &__box {
        background: rgba(255,255,255,0.7);
        margin-bottom: 10px;
        padding: 10px;
        text-align: center;
        height: 100px;
        transition-duration: .3s;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;

        &--points {
            background: $custom;        
        }

        &--all-words {
            background: $green;
        }

        &--categories {
            background: $orange;
            
            select {
                background: $orange;
                border: none;
                color: $white;
            }
        }
    }

    &__translate {

        input {
            max-width: 400px;
            margin: auto;
        }
    }
}

.cz-time-left {
    display: block;
    margin: 20px 0;
    cursor: pointer;
    font-weight: bold;
    transition-duration: .2s;

    &:hover {
        color: $green;
    }
}

#cz-flashcards-test-scores {
    transition-duration: .3s;
    &.inactive {
        display: none;
    }

    .cz-flashcard-score {
        color: $red;
    
        &.active {
            color: $green;
        }
    }
}