
.cz-flashcards {
    background: $gray-100;
    padding: 20px 0;
    margin-top: 20px;

    &__card {
        width: 100%;
    }
    
    .cz-flashcards-to-translate {
        position: relative;
        justify-content: center;
        padding: 40px;
        font-size: 30px;
        color: $white;

        @media only screen and (min-width: 768px) {
            width: 50%;
            margin: auto;
        }

        &--word {
            background: $custom;
            display: block;
        }

        &--translation {
            background: $orange;
            display: none;
        }

    }
}