.cz-flashcards-to-translate {
    &.empty {
        opacity: 0;
        transition-duration: .5s;
        transition-delay: .3s;
        position: relative;
        top: -30%;
    }

    &.active {
        opacity: 1;
        top: 0;
    }
}

.cz-points {
    position: absolute;
    left: 10px;
    top: 10px;
}

.cz-time-left {
    display: block;
    margin: 20px 0;
    cursor: pointer;
    font-weight: bold;
    transition-duration: .2s;

    &:hover {
        color: $green;
    }
}

.cz-all-words {
    top: 10px;
    position: absolute;
    transition-duration: .2s;
    right: 10px;
}

#cz-flashcards-test-scores {
    transition-duration: .3s;
    &.inactive {
        display: none;
    }

    .cz-flashcard-score {
        color: $red;
    
        &.active {
            color: $green;
        }
    }
}