.cz-hangman {
    background: $gray-100;
    padding: 20px 0;
    margin-top: 20px;

    &__game {
        width: 100%;
    }

    &__box {
        background: rgba(255,255,255,0.7);
        margin-bottom: 10px;
        padding: 10px;
        text-align: center;
        height: 100px;
        transition-duration: .3s;

        &--guesses {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: $custom;
            color: $white;
            font-size: 20px;
            cursor: pointer;
            
            &:hover {
                background: darken($custom, 10%);
            }
        }

        &--reset {
            font-size: 14px;
            background: $green;
            color: $white;
            font-size: 20px;
            cursor: pointer;
            
            &:hover {
                background: darken($green, 10%);
            }
        }

        &--new-word {
            background: $orange;
            color: $white;
            font-size: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            cursor: pointer;
            
            &:hover {
                background: darken($orange, 10%);
            }
        }

        &--definition {
            font-style: italic;
            height: auto;
        }
        
        &--word {
            padding: 50px;
            background: rgba(255,255,255,0.9);
            letter-spacing: 6px;
            font-size: 21px;
            height: auto;
        }

        &--left-guesses {
            background: #e100ff;
            color: $white;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            cursor: pointer;
            
            &:hover {
                background: darken(#e100ff, 10%);
            }
        }
        
        &--win {
            display: none;
            color: lighten($green, 20%);
            height: auto;
        }

        &--fail {
            display: none;
            color: #ff0000;
            height: auto;
        }

        small {
            font-size: 12px;
        }

    }



    &__result {
        margin-top: 20px;
        padding: 30px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: $white;
        transition-duration: 0.5s;

    }
}

.cz-hangman-drawing {
    position: relative;
    height: 100px;

    .cz-hangman-drawing-line {
        display: none;

        &--column{
            position: absolute;
            left: 20px;
            width: 2px;
            height: 100px;
            top: 0;
            background: #000;
        }

        &--base {
            position: absolute;
            left: 0;
            width: 40px;
            height: 2px;
            bottom: 0;
            background: #000;
        }

        &--top {
            position: absolute;
            top: 0;
            left: 20px;
            width: 60px;
            height: 2px;
            background: #000;
        }

        &--rope {
            position: absolute;
            top: 0;
            left: 70px;
            width: 2px;
            height: 20px;
            background: #000;
        }

        &--head {
            position: absolute;
            top: 20px;
            left: 60px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 2px solid #000;
        }

        &--body {
            position: absolute;
            top: 40px;
            left: 70px;
            width: 2px;
            height: 35px;
            background: #000;
        }

        &--hand1 {
            position: absolute;
            top: 33px;
            left: 77px;
            width: 2px;
            height: 25px;
            transform: rotate(36deg);
            background: #000;
        }

        &--hand2 {
            position: absolute;
            top: 33px;
            left: 63px;
            width: 2px;
            height: 25px;
            transform: rotate(-36deg);
            background: #000;
        }

        &--leg1 {
            position: absolute;
            left: 63px;
            width: 2px;
            height: 25px;
            top: 70px;
            transform: rotate(39deg);
            background: #000;
        }

        &--leg2 {
            position: absolute;
            left: 77px;
            width: 2px;
            height: 25px;
            top: 70px;
            transform: rotate(-39deg);
            background: #000;
        }
    }
}

.cz-hangman-display-answer {
    display: none;
    width: auto;
}