.cz-main-logo-container {
background: $custom;

.cz-logo {
    position: relative;
    border-radius: 50%;
    display: block;
    width: 100px;
    height: 100px;
    transform: rotate(45deg);

    .logo-dot {
        position: absolute;
        width: 0; 
        height: 0; 
        border-radius: 50%;
        transform-origin: 50%;
        transition-duration: .4s; 

        &--white {
            border-top: 30px solid white;
            transform: rotate(11deg);
        }
        &--blue {
            border-top: 30px solid blue;
            transform: rotate(-103deg);
            left: -38px;
            top: 37px;
        }
        &--red {
            border-top: 30px solid red;
            transform: rotate(135deg);
            left: 17px;
            top: 50px;
        }
    }

    
}

.logo-transformed {
    position: relative;
    border-radius: 50%;
    display: block;
    width: 100px;
    height: 58px;
    top: -18px;

    .logo-dot {
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: none;

        &--white {
            left: 40px;
            top: 32px;
            background: $white;
            transition-duration: 1s; 
        }
        &--red {
            left: 40px;
            top: 55px;
            background: $red;
            transition-duration: 1.4s; 
        }
        &--blue {
            left: 20px;
            top: 43px;
            background: $blue;
            transition-duration: 1.8s; 
        }
    }
}
}