.cz-map {
    padding: 0;

    #mapid {
        height: 100vh;    
        will-change: auto;
    }

    &__start,
    &__destination {
        border: 1px solid $primary;
        background: transparent;
        color: $primary;
        cursor: pointer;
        border-radius: 10px;
        font-size: 14px;
        margin: 0 5px;
        padding: 5px 12px;
        transition-duration: .3s;

        &:hover {
            background: $primary;
            color: $white;
            transition-duration: .3s;
        }
    }

    &__weather {
        z-index: 800;
        position: absolute;
        left: 55px;
        top: 10px;

        &-info {
            background: rgba(255,255,255,0.8);
            color: $gray-900;
            font-size: 13px;
            font-weight: bold;
            padding: 10px;
        }

        &-element {
            &:first-child {
                font-size: 24px;
                color: $primary;
            }
        }

        @media only screen and (max-width: 767px) {
            left: 5px;
            top: 77px;

            &-info {
                font-size: 9px;
                padding: 6px;
            }

            &-element {
                &:first-child {
                    font-size: 16px;
                }
            }
        }
    }

    &__header {
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
    }

    .leaflet-right {

        .leaflet-routing-alternatives-container {
            .leaflet-routing-alt {
                background: $white;

                h2 {
                    float: left;
                    margin-bottom: 0;
                }

                h3 {
                    float: right;
                    color: $primary;
                    font-weight: bold;
                    margin-bottom: 0;
                }

                table {
                    display: none;
                }
            }
        }

        .leaflet-routing-container {
            border: none;
            border-radius: 0;
            background: transparent;

            input {
                padding: 10px;
                padding-right: 25px;
                font-size: 15px;
                font-weight: bold;
                background: $white;
                border: none;
            }
        }

        .leaflet-routing-geocoders {
            border-bottom: none;
            padding: 0;
            margin-top: 6px;
        }

        .leaflet-routing-remove-waypoint {

            &::after {
                background: transparent;
                color: $primary;
                right: 6px;

                &:hover {
                    color: $white;
                }
            }
        }

        .leaflet-routing-add-waypoint  {
            position: absolute;
            left: -51px;
            top: 10px;
            border: none;
            background: $primary;
            font-size: 35px;
            border-radius: 0;
            color: $white;
            transition-duration: .3s;
            height: 45px;
            width: 45px;

            &:hover {
                color: $primary;
                background: $white;
                transition-duration: .3s;
            }

            @media only screen and (min-width: 640px) {
                top: 14px;
            }
        }
    }
}

