
.cz-menubar {
    background: lighten($gray-700,65%);
    color: $gray-900;
    padding: 15px 20px;

    div {
        margin-left: 15px;
    }

    &__user {
        display: inline-block;

        span {
            float: left;
        }
    }

    .cz-menubar-options {
        float: right;
        position: relative;

        &:hover {
            .cz-menubar-listmenu {
                display: block; 
            }
        }

        .cz-menubar-listmenu {
            display: none;
            position: absolute;
            right: 0;
            top: 44px;

            &__item {
                background: $white;
                padding: 10px 20px;
                display: block;
            }
        }
    }

    .cz-menubar-dots {
        position: relative;
        display: inline-block;

        &__dot {
            display: block;
            width: 6px;
            height: 6px;
            margin-bottom: 2px;
            background: $gray-700;
            border-radius: 50%;

            &:last-child {
                margin-bottom: 0;
            }
        }

        
    }
}