
.cz-menubar {
    background: lighten($gray-700,65%);
    color: $gray-900;
    padding: 15px 20px;

    div {
        margin-left: 15px;
    }

    &__user {
        display: inline-block;

        span {
            float: left;
        }
    }

    .cz-menubar-options {
        position: relative;
        display: inline-block;

        &__dot {
            display: block;
            width: 6px;
            height: 6px;
            margin-bottom: 2px;
            background: $gray-700;
            border-radius: 50%;

            &:last-child {
                margin-bottom: 0;
            }
        }

        
    }
}