.cz-modal {
    z-index: 99999;

    .cz-modal-pick-option {
        display: inline-block;
        width: 49%;
        font-weight: bold;
        color: $gray-600;
        text-align: center;
        border: 1px solid $gray-400;
        transition-duration: .1s;

        &:hover {
            background: $gray-200;
        }

        input {
            display: block;
            margin: auto;
            margin-bottom: 7px;
        }
    }
}

#newPhraseForm {
    display: none;
}