.cz-travel {
    z-index: 8000;
    position: relative;
    background: $gray-100;
    padding: 20px 0;
    margin-top: 20px;

    &__content {

        .row {
            margin: 0;
        }
    }

    &__modal {
        max-width: 95%;

        @media only screen and (min-width: 1200px) {
            max-width: calc(100% - 264px);
            left: 120px;
        }
    }

    .modal {
        background: rgba(0,0,0,.4);
    }

    &__addPlace {
        display: none;
    }

    &__btn {
        display: block;
        margin-bottom: 10px;
        width: 100%;
    }

    &__newPlacesContainer {
        display: none;
    }

    &__addPlaceForm {

        input {
            margin-bottom: 10px;
        }
    }

    &__place {
        display: block;
        padding: 0 10px;
        

        &-name {
            width: 40%;
            padding: 0 10px;
            display: block;

            @media only screen and (min-width: 768px) {
                width: 25%;
            }
            span {
                display: block;
                padding: 7px 0;
                color: darken($primary, 20%);
                cursor: pointer;
                transition-duration: .2s;
                
                &:hover {
                    color: $primary;
                    margin-left: 10px;
                }
            }
        }
    
        &-point {

            .travelnamepoint {
                display: none;
                
                &.active {
                    display: block;
                    float: left;
                }
            }
    
        }
    }

}

#worldMap { height: 180px; }