.cz-travel {
    z-index: 8000;
    position: relative;
    background: $gray-100;
    padding: 20px 0;
    margin-top: 20px;

    &__content {

        .row {
            margin: 0;
        }
    }

    &__modal {
        max-width: 800px;
        margin-left: .5rem;
        margin-right: .5rem;

        @media only screen and (min-width: 817px) {
            margin-left: auto;
            margin-right: auto;
        }

        @media only screen and (min-width: 1200px) {
            left:120px;
        }

        .modal-content {
            border-radius: 0;
        }
    }

    .modal {
        background: rgba(0,0,0,.4);
    }

    &__addPlace {
        display: none;
    }

    &__btn {
        display: block;
        margin-bottom: 10px;
        width: 100%;
    }

    &__newPlacesContainer {
        display: none;
    }

    &__addPlaceForm {

        input {
            margin-bottom: 10px;
        }
    }

    &__place {
        display: block;
        padding: 0 10px;
        

        &-name {
            width: 43%;
            padding: 0 10px;
            display: block;

            @media only screen and (min-width: 768px) {
                width: 35%;
            }
            span {
                display: block;
                padding: 7px 0;
                cursor: pointer;
                transition-duration: .2s;
                border-right: 1px solid $primary;

                .deletePlaceButton {
                    visibility: hidden;
                    transition-duration: .3s;
                    position: relative;
                    left: -10px;
                }

                &.active {
                    border-bottom: 1px solid $primary;
                    border-top: 1px solid $primary;
                    border-left: 1px solid $primary;
                    border-right: none;
                    padding-left: 10px;
                    color: $primary;
                    font-weight: bold;
                    transition-duration: .2s;

                    .deletePlaceButton {
                        visibility: visible;
                        transition-duration: .3s;
                        left: 0;
                    }
                }
                
                &:hover {
                    color: $primary;
                    transition-duration: .2s;
                    padding-left: 10px;
                }
            }
        }
    
        &-point {
            width: 50%;
            margin-right: auto;

            @media only screen and (min-width: 768px) {
                width: 61%;
            }

            .travelnamepoint {
                display: none;
                width: 100%;

                li {
                    list-style-type: none;
                    border-bottom: 1px solid $gray-400;
                    padding: 7px 0;
                }
                
                &.active {
                    display: block;
                    float: left;
                }
            }
        }
    }
}

#worldMap { height: 180px; }