.cz-travel {
    z-index: 8000;
    position: relative;
    background: $gray-100;
    padding: 20px 0;
    margin-top: 20px;

    &__content {

        .row {
            margin: 0;
        }
    }

    &__modal {
        max-width: 95%;

        @media only screen and (min-width: 1200px) {
            max-width: calc(100% - 264px);
            left: 120px;
        }
    }

    .modal {
        background: rgba(0,0,0,.4);
    }

    &__addPlace {
        visibility: hidden;
    }
}

#worldMap { height: 180px; }