
.cz-useraccount-form {
    background: $white;
    padding: 30px;

    form {
        label {
            color: $gray-900;

            &:hover {
                font-weight: bold;
            }
        }
    }

    .cz-useraccount-input {
        background: transparent;
        border: 2px solid $custom;
        color: $gray-900;

        &::placeholder {
            color: $gray-900;
        }

        &:focus {
            border: 2px solid $custom;
            color: $custom;
        }
    }

    .cz-register-form {
        transition: 0.5s;
        transition-delay: .3s;
        width: 100%;
    }

    .cz-login-form {
        display: none;
    }

    .cz-login-form {
        width: 100%;
    }

    .cz-button {
        border: 2px solid $custom;
        background: $custom;
        color: $white;
        font-weight: bold;
        border-radius: 0;

        &:hover {
            border: 2px solid $custom;
            background: $white;
            color: $custom;
        }
    }

    .cz-form-label {
        margin-top: 20px;
        display: block;
        cursor: pointer;
    }

    .cz-password-reminder {
        display: block;
        text-align: center;
        font-size: 80%;
        margin-top: 30px;
        color: $custom;
    }

    .cz-form-header-container {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid $gray-600;
        padding-bottom: 5px;
        margin-bottom: 20px;
    }
}